
        p {
            color: rgb(20, 19, 19);
        }
    
        td {
            background-color: green;
        }
        table,
        td{
            border: 1px solid red;
        }